# Environment
PORT=3000
ENVIRONMENT=LOCAL
LOCAL_FRONTEND_HOST=localhost
LOCAL_FRONTEND_PORT=5173
PUBLIC_FRONTEND_URL="http://lista.kaos"

# Database
DB_USERNAME=aleks
DB_PASSWORD=aleks
DB_HOST=database
DB_NAME=lista # equivalent to POSTGRES_DB on docker-compose.yaml
DB_PORT=5432

# DB Migrations
DATABASE_URL=postgres://admin:admin@database:5432/lista?sslmode=disable
DBMATE_MIGRATIONS_TABLE=core.schema_migrations

# Logging
ENABLE_SQL_LOGGING=false
ENABLE_FILE_LOGGING=false